@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;



.ave {
  font-family: "Sedgwick Ave Display", cursive;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --popover: #ffffff;
    --popover-foreground: #0f172a;

    --border: #e2e8f0;
    --input: #e2e8f0;

    --card: #ffffff;
    --card-foreground: #0f172a;

    --primary: #0f172a;
    --primary-foreground: #f8fafc;

    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;

    --accent: #f1f5f9;
    --accent-foreground: #0f172a;

    --destructive: #ff0000;
    --destructive-foreground: #f8fafc;

    --ring: #94a3b8;

    --radius: 0.5rem;
  }

  .dark {
    --background: #030711;
    --foreground: #e1e7ef;

    --muted: #0f1629;
    --muted-foreground: #7f8ea3;

    --accent: #1d283a;
    --accent-foreground: #f8fafc;

    --popover: #030711;
    --popover-foreground: #94a3b8;

    --border: #1d283a;
    --input: #1d283a;

    --card: #030711;
    --card-foreground: #e1e7ef;

    --primary: #f8fafc;
    --primary-foreground: #020205;

    --secondary: #0f172a;
    --secondary-foreground: #f8fafc;

    --destructive: #811d1d;
    --destructive-foreground: #f8fafc;

    --ring: #1d283a;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}


input[type="color" i] {
  border-radius: 50%;
  inline-size: 30px;
  block-size: 30px;
  
  /* Can set padding between outer circle and color swatch for Firefox here;
   * it doesn't support a color-swarch-wrapper pseudoclass
   */
  padding: 0px;
 
}

/* Affects area between outer circle and color swatch. Firefox doesn't have an equivalent. */
input[type="color" i]::-webkit-color-swatch-wrapper {
  padding: 1px;
}

/* Affects the inner circle, i.e. the current color selection */
input[type="color" i]::-webkit-color-swatch {
  border-radius: 50%;
}

input[type="color" i]::-moz-color-swatch {
  border-radius: 50%;
} 





.themeCustomizer-Input {
  appearance: none;
  margin: 0;
  outline: none;
  outline-width: 2px;
  position: absolute;
  inset: 0;
  border-radius: inherit;

  /* iOS Safari */
  width: 100%;
  height: 100%;
}

.themeCustomizer-Input-Secondary{
  outline-offset: 2px;

  &:where(:checked) {
    outline-style: solid;
    outline-color: var(--accent);
  }
  &:where(:focus-visible) {
    outline-style: solid;
    outline-color: var(--accent);
  }
}

.themeCustomizer-Input-Primary {
  outline-offset: 2px;

  &:where(:checked) {
    outline-style: solid;
    outline-color: var(--primary);
  }
  &:where(:focus-visible) {
    outline-style: solid;
    outline-color: var(--primary);
  }
}



.themeCustomizer-Input-Background{
  outline-offset: 2px;

  &:where(:checked) {
    outline-style: solid;
    outline-color: var(--primary);
  }
  &:where(:focus-visible) {
    outline-style: solid;
    outline-color: var(--primary);
  }
}

.themeCustomizer-Input-Border{
  outline-offset: 2px;

  &:where(:checked) {
    outline-style: solid;
    outline-color: var(--border);
  }
  &:where(:focus-visible) {
    outline-style: solid;
    outline-color: var(--border);
  }
}



.transBg {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right,
      var(--c1),
      var(--c2),
      var(--c3),
      var(--c1));
  background-size: 200%;
}

.transText {
  -webkit-background-clip: text;
 
  -webkit-text-fill-color: transparent;
}


@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .chunk-container {
    @apply shadow-none;
  }

  .chunk-container::after {
    content: "";
    @apply absolute -inset-4 shadow-xl rounded-xl border;
  }
}
